body {
    background-image:    url(bg.jpg);
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
